.topNav {
    padding: 0 2rem;

    .logo {
        max-width: 5rem;
        margin-left: 1rem;
      }
  }

  .logoDrawer {
    max-width: 5rem;
    margin: 1rem;
  }

  .drawer {
    width: 300px;
  }







